{{extend 'layout.html'}}
<style>
pre { color: black; }
</style>
<div id="top">
<h1>卓情報 一覧</h1>
<ol>
{{ for tableInfo in game_table_rows: }}
<li><a href="#tableInfo_{{=tableInfo.gameTable.id}}">{{=tableInfo.gameTable.tableName}}</a></li>
{{ pass }}
</ol>
</div>
<hr>
{{ for tableInfo in game_table_rows: }}
<section id="tableInfo_{{=tableInfo.gameTable.id}}">
<h1>{{=tableInfo.gameTable.tableName}}</h1>
<p>ゲームマスター : {{=db.participant.created_by.represent(tableInfo.participant.created_by)}}</p>
<p>{{=T('SystemName')}} : {{=tableInfo.gameTable.systemname}}</p>
<p>参加可能人数 : {{=tableInfo.gameTable.minimumnumber}} ～ {{=tableInfo.gameTable.maximumnumber}}</p>
<p>{{=T('Level')}} : {{=db.gameTable.gameLevel.represent(tableInfo.gameTable.gameLevel)}}</p>
{{ if tableInfo.gameTable.belongings : }}
<p>{{=T('Belongings')}} : {{=tableInfo.gameTable.belongings}}</p>
{{ pass }}
<p>{{=T('Abstract')}}</p>
<div>{{=PRE(tableInfo.gameTable.abstract)}}</div>
{{ if tableInfo.participant.remark : }}
<p>{{=T('Remark')}}</p>
<div>{{=PRE(tableInfo.participant.remark)}}</div>
{{ pass }}
</section>
<p><a href="#top">先頭へ戻る</a></p>
<hr>
{{ pass }}

<script>
    var shiftWindow = function() { scrollBy(0, -80) };
    window.addEventListener("hashchange", shiftWindow);
    function load() { if (window.location.hash) shiftWindow(); }
</script>
