{{extend 'layout.html'}}
<style>
#participant_list td { padding-right:1em }
</style>

<h1>Ebicon 7th参加受付サイト</h1>
<p>このサイトは7th用の実験的な何かです。</p>
<h2>参加登録方法</h2>
<ol>
{{if not auth.user:}}
<li>Twitter,Googleアカウントなどで{{=A('ログイン', _href=URL('participant_manage'))}}するか{{=A('メールアドレスで登録', _href=URL('user/register'))}}します。</li>
{{pass}}
<li>{{=A('参加者登録', _href=URL('participant_manage'))}}のページから、必要事項を入力して下さい。</li>
<li>送信後、「参加情報が登録されました。」と表示されたらOKです</li>
</ol>
<h2>送信内容の変更</h2>
<ol>
{{if not auth.user:}}
<li>{{=A('ログイン', _href=URL('participant_manage'))}}します。</li>
{{ pass }}
<li>{{=A('参加者登録', _href=URL('participant_manage'))}}のページで必要な内容を書き換えて下さい。</li>
<li>送信後、「参加情報が登録されました。」と表示されたらOKです</li>
</ol>
<h2>参加のキャンセル方法</h2>
<ol>
{{if not auth.user:}}
<li>{{=A('ログイン', _href=URL('participant_manage'))}}します。</li>
{{ pass }}
<li>{{=A('参加者登録', _href=URL('participant_manage'))}}のページ一番下、「参加をキャンセルする」にチェックを入れて送信して下さい。</li>
</ol>
<h2>参加区分の変更方法</h2>
<p>一度キャンセルしてから再度参加者登録をしてください。</p>

<h2>現在の応募状況</h2>
{{=participant_list}}
