{{extend 'layout.html'}}

<h2>
{{=T('Sign Up') if request.args(0) == 'register' else T('Log In') if request.args(0) == 'login' else T(request.args(0).replace('_',' ').title())}}
</h2>
<p>参加登録にはログインと参加者登録が必要です</p>
{{if request.args(0) == 'login':}}
<div>
一覧にないサービスでも、「Open ID」ボタンから対応するURLを入力することで、OpenID対応サイトのIDが使用できます。
<ul>
<li>YAHOO Japan ID: yahoo.co.jp</li>
<li>mixi ID: mixi.jp</li>
<li>はてなID: http://www.hatena.ne.jp/はてなID/</li>
</div>
{{elif request.args(0) == 'register':}}
<p>このページではメールアドレスからログインアカウントを登録できます。</p>
{{pass}}
<div id="web2py_user_form">
<p>{{=A('メールアドレスで登録する', _href=URL('user/register'))}}</p>
{{
=form
}}
</div>


<style>
#janrainEngageEmbed {height:160px }
table { min-width:150em; }
</style>
{{block page_js}}
<script>
    jQuery("#web2py_user_form input:visible:enabled:first").focus();
{{if request.args(0)=='register':}}
    web2py_validate_entropy(jQuery('#auth_user_password'),100);
{{elif request.args(0)=='change_password':}}
    web2py_validate_entropy(jQuery('#no_table_new_password'),100);
{{pass}}
    jQuery(document.getElementById("janrainEngageEmbed")).prependTo(document.getElementById("web2py_user_form")).after("<h2>e-mail login</h2>");
</script>
{{end page_js}}
