{{extend 'layout.html'}}
{{ if count != None : }}
<h3>全レコード数 : {{= count }}</h3>
{{ pass }}
<p>{{=form}}</p>

<HR>
{{=A('tables',_href=URL('user_list/tables'))}}

<br>
<code>
http://.../[app]/[controller]/data/tables<br>
http://.../[app]/[controller]/data/create/[tablename]<br>
http://.../[app]/[controller]/data/read/[tablename]/[id]<br>
http://.../[app]/[controller]/data/update/[tablename]/[id]<br>
http://.../[app]/[controller]/data/delete/[tablename]/[id]<br>
http://.../[app]/[controller]/data/select/[tablename]<br>
http://.../[app]/[controller]/data/search/[tablename]<br>
</code>